# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Model Checkpoints & Adapters
medscript_adapters/
*.bin
*.safetensors
*.pt
*.pth

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
